SpeechRecognition # for Voice commands
clipboard # For working with clipboard
newsapi # For Getting news
newsapi-python # For News api
psutil # For getting compute info
pyaudio # For working with audio
pyautogui # For performing some GUI operation
pyttsx3 # For Voice Interaction